<%- include('../layouts/header', { headerTitle: "Rôles" }) %>
<%- include('../layouts/navbar') %>

<div class="container">
    <span><%- found %></span>
    <table class="table table-dark">
    <thead>
        <tr>
        <th scope="col">Code</th>
        <th scope="col">Libelle</th>
        <th scope="col">Statut</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <% roles.forEach((role => { %>
            <tr>
                <td>
                    <%= role.code %>
                </td>
                <td>
                    <%= role.libelle %>
                </td>
                <td>
                    <%= role.actif %>
                </td>
                <td>
                    <div class="row">
                        <a class="btn mr-1 btn-primary" href="<%= `roles/edit/${role.id}` %>">Modifier</a>
                        <a class="btn btn-primary" href="<%= `roles/switchstatus/${role.id}` %>">Activer/Désactiver</a>
                    </div>
                </td>
            </tr>
            <% })) %>
    </tbody>
    </table>
</div>

<%- include('../layouts/footer') %>