<%- include('../layouts/header', { headerTitle: "Rôles - Modification" }) %>
<%- include('../layouts/navbar') %>

<div class="container">

    <div class="card">
        <form action="<%= `/users/update/${user.id}` %>" class="form" method="POST">
            <div class="form-control">
                <label for="nom">Nom</label>
                <input type="text" name="nom" value="<%= user.nom %>" >
            </div>
            <div class="form-control">
                <label for="prenom">Prénom</label>
                <input type="text" name="prenom" value="<%= user.prenom %>">
            </div>
            <div class="form-control">
                <label for="actif">Statut</label>
                <input type="checkbox" name="actif" id="" value="<%= user.actif %>">
            </div>
            
            <button class="btn btn-primary" type="submit">Valider</button>
        </form>
    </div>
    
</div>

<%- include('../layouts/footer') %>