<%- include('../layouts/header', { headerTitle: "Utilisateurs" }) %>
<%- include('../layouts/navbar') %>

<div class="container">
    
    <% if (found <= 0) { %>
        <p>Aucun utilisateur n'a été trouvé</p>
        <a class="btn btn-success" href="/users/add">Créer</a>
    <% } %>

    <% if (found > 0) { %>
        <span><%- found %></span>
        <table class="table table-dark">
        <thead>
            <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Statut</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach((user => { %>
                <tr>
                    <td>
                        <%= user.nom %>
                    </td>
                    <td>
                        <%= user.prenom %>
                    </td>
                    <td>
                        <%= user.actif %>
                    </td>
                    <td>
                        <div class="row">
                            <a class="btn mr-1 btn-primary" href="<%= `edit/${user.id}` %>">Modifier</a>
                            <a class="btn btn-primary" href="<%= `switchstatus/${user.id}` %>">Activer/Désactiver</a>
                        </div>
                        </div>
                    </td>
                </tr>
                <% })) %>
        </tbody>
        </table>
    <% } %>

</div>
<%- include('../layouts/footer') %>